{% extends 'flatpages/default.html' %}

{% block title %}
{% if title %}{{title}}{% else %}Создание профиля{% endif %}
{% endblock %}

{% block content %}
<br>
{% if title %}<h1>Обновление профиля игрока "{{title}}"</h1>{% else %}<h1>Создание профиля</h1>{% endif %}
<br>
<hr>
<br>
<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <p><label>Username:</label> <input value="{{user.username}}" type="text" disabled></p>
    {{form.as_p}}
    <button type="submit">{% if title %}Обновить профиль{% else %}Создать профиль{% endif %}</button>
</form>
{% endblock %}