{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block title %}
{{title}}
{% endblock title %}

{% block content %}
<br>
<h1>{{title}}</h1>
<br>
<hr>
<br>

<div style="font-size: 35px; text-align: left; line-height: 1.5em">
        {% show_event event.pk %}

        <p style="font-size: 25px"><i><a href="{% url 'response' event.pk %}">Количество откликов: {{total}}</a></i></p>
        <p style="font-size: 25px"><i><a href="{% url 'create_response' event.pk %}">Откликнуться на объявление</a></i></p>
        <p style="font-size: 25px"><i><a href="{% url 'delete of post' event.slug %}" style="color: red">Удалить объявление</a></i></p>
</div>


{% endblock content %}