{% extends 'flatpages/default.html' %}
{% load custom_tags %}

{% block title %}
{{event.title}}
{% endblock title %}

{% block content %}
<br>
<h1>Отклики к событию <a href="{{event.get_absolute_url}}">{{event.title}}</a></h1>
<br>
<hr>
<br>
<div style="font-size: 35px; text-align: left; line-height: 1.5em">
       {% show_event event.pk user %}
</div>
<hr>

{% for r in responses %}
            <div style="font-size: 28px; text-align: left">

    {% inf_resp r user %}
        {% if ourresp == r.pk %}
                {% for a in r.answers.all %}
                    {% if not forloop.first %}<br>{% endif %}
                    {% if a.pk == ouransw %}
                      <form action="" method="POST" style="text-align: left; margin-left: 165px">
                          {% csrf_token %}
                          <label>Автор:</label> <input value="{{author.name}}" type="text" disabled>
                            <br>

                          {{form.as_p}}
                          <p><button type="submit">Обновить отклик</button></p>
                      </form>
                    {% else %}
                      <div style="margin-left: 155px">
                         {% inf_answ a user %}
                      </div>
                    {% endif %}
                {% endfor %}

        {% endif %}
    {% if not forloop.last %}
    <hr>
    {% endif %}
</div>
{% endfor %}
<br>
<p style="font-size: 25px; text-align: left"><i><a href="{% url 'create_response' event.pk %}">Откликнуться на объявление</a></i></p>
{% endblock content %}